 



<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <h3 style="margin:15px;">Authorizing...</h3>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <section class="section d-flex flex-column align-items-center justify-content-center">
                            <h2 class="py-4" style="margin:15px;">You are not authorized to access this resource.</h2>
                            <a class="btn btn-secondary" href="/">Back to home</a>
                            <img src="images/not-found.svg" class="img-fluid py-5" style="max-width: 500px">
                        </section>

                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <section class="section d-flex flex-column align-items-center justify-content-center">
                    <h2 class="py-4" style="margin:15px;">Sorry, there's nothing at this address.</h2>
                    <a class="btn btn-secondary" href="/">Back to home</a>
                    <img src="images/not-found.svg" class="img-fluid py-5" style="max-width: 500px">
                </section>
                
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

 