
 <EditForm Model="OriginalTechnicians" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">

        @foreach (var technicianViewModel in DisplayTechnicians.OrderBy(t => t.Technician.FirstName).ThenBy(t => t.Technician.LastName))
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="@($"checkbox_{technicianViewModel.Technician.Id}")" @bind="technicianViewModel.IsChecked" />
                <label class="form-check-label" for="@($"checkbox_{technicianViewModel.Technician.Id}")">
                    @technicianViewModel.Technician.FirstName @technicianViewModel.Technician.LastName <span style="font-size:0.8em"> @($"({technicianViewModel.Technician.Email})") </span>
                </label>
            </div>
        }

    
    </div>

    <br />
 

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>

 </EditForm>

@code {


    [CascadingParameter] BlazoredModalInstance? ModalInstance { get; set; }

    [Parameter] public List<DisplayTechnician>? OriginalTechnicians { get; set; }

    public List<DisplayTechnician>? FilteredTechnicians = new List<DisplayTechnician>();

    public List<DisplayTechnicianViewModel> DisplayTechnicians { get; set; } = new List<DisplayTechnicianViewModel>();

    protected override void OnInitialized()
        {
            FilteredTechnicians = OriginalTechnicians;
            foreach (var Technician in OriginalTechnicians!)
            {
                DisplayTechnicians.Add(new DisplayTechnicianViewModel { Technician = Technician, IsChecked = false });
            }

        }

  
        private async void HandleValidSubmit()
        {
            FilteredTechnicians = DisplayTechnicians.Where(x => x.IsChecked).Select(x => x.Technician).ToList();
            await ModalInstance!.CloseAsync(ModalResult.Ok(FilteredTechnicians));
            await ModalInstance!.CancelAsync();
        }











    public class DisplayTechnicianViewModel
    {
        public DisplayTechnician Technician { get; set; } = new DisplayTechnician();
        public bool IsChecked { get; set; }
    }
}
