@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@inject IModalService _modal
@inject ILocalStorageService _localStorage

<PageTitle>Patients</PageTitle>

<head>
    <link rel="stylesheet" href="css/megagen.css">
    <link rel="stylesheet" href="css/table.css">
</head>

<AuthorizeView Roles="@($"{RolesMegagen.Admin}, {RolesMegagen.Technician}, {RolesMegagen.Doctor}")">
    <Authorized>
        <div id="meg-table-container">
            <table class="meg-table">
                <thead>
                    <tr>
                        @if (role == RolesMegagen.Doctor || role == RolesMegagen.Admin)
                        {
                            @*Header for TECHNICIANS *@
                            <th>
                                <div class="modal-filter" @onclick="OpenTechniciansModal">
                                    <span class="span-doctors-modal">@DisplayTechnicianTextFilters</span>
                                    <button @onclick="ClearTechnicianFilter" @onclick:stopPropagation="true" class="clear-filter-btn"></button>
                                </div>
                                <div class="meg-sub-filter-space"></div>
                                <span @onclick="SortByTechnician" class="meg-table-header" >Technician  <b>↑↓</b></span>
                            </th>
                        }
                        @if (role == RolesMegagen.Technician || role==RolesMegagen.Admin)
                        {
                            @* Header for DOCTORS *@
                            <th>
                                <div class="modal-filter" @onclick="OpenDoctorsModal">
                                    <span class="span-doctors-modal">@DisplayDoctorTextFilters</span>
                                    <button @onclick="ClearDoctorsFilter" @onclick:stopPropagation="true" class="clear-filter-btn"></button>
                                </div>
                                <div class="meg-sub-filter-space"></div>
                                <span @onclick="SortByDoctor" class="meg-table-header">Doctor  <b>↑↓</b></span>
                            </th>
                        }
                        @* Header for PATIENTS *@
                        <th>
                            <input type="text" @oninput="HandleNameFiltered" class="modal-filter font-size-10" placeholder="search patients"></input>
                            <div class="meg-sub-filter-space"></div>
                            <span  @onclick="SortByName" class="meg-table-header">Patient <b>↑↓</b></span>
                        </th>
                        @* Header for DATE *@
                        <th>

                            <div class="modal-filter date-modal-filter-width" @onclick="OpenDateModal">
                                <span  class="date-filter-width">@DisplayDateFilter</span>
                                <button @onclick="ClearDateFilter" @onclick:stopPropagation="true" class="clear-filter-btn"></button>
                            </div>
                            <div class="meg-sub-filter-space"></div>
                            <span @onclick="SortByDate" class="meg-table-header">Date <b>↑↓</b></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < FrontPatients.Count; i++)
                    {
                        int nr = i;
                        DisplayPatient patient = FrontPatients[nr];

                        <tr @onclick="() => RowClicked(nr)" class="@(nr == selectedRow ? "meg-selected-row" : "meg-not-selected-row")">


                            @if (role == RolesMegagen.Doctor || role == RolesMegagen.Admin)
                            {
                                <td>@patient.TechnicianFirstName @patient.TechnicianLastName.ToUpper()</td>
                            }
                            @if (role == RolesMegagen.Technician || role == RolesMegagen.Admin)
                            {
                                <td>@patient.DoctorFirstName @patient.DoctorLastName.ToUpper()</td>
                            }
                            <td>@patient.FirstName @patient.LastName.ToUpper()</td>
                            <td> @((MarkupString)MegagenDates.GetMegagenLongDate(patient.DateAdded))</td>
                        </tr>

                        if (nr == selectedRow)
                        {
                            if (role == RolesMegagen.Technician )
                            {
                                <tr>
                                    <td colspan="4" style="border:none;">
                                        <div class="meg-bottom-row-container">
                                            @if (patient.HasPdf)
                                            {
                                                <button @onclick="()=>ShowPdf(patient.Id)" class="pdf-button"></button>
                                            }
                                            @if (patient.HasStl)
                                            {
                                                <button @onclick="()=>ShowStl(patient.Id)" class="stl-button"></button>
                                            }
                                            @if (patient.HasVideo)
                                            {
                                                <button @onclick="()=>ShowVideo(patient.Id)" class="video-button"></button>
                                            }
                                          
                                            @if (!patient.IsForTutorial)
                                            {
                                                <div style="display:flex; align-items:center;gap:0px;">
                                                    <button @onclick="()=>ShowTrashModal(patient.Id)" class="trash-button"></button>
                                                    <span @onclick="()=>ShowTrashModal(patient.Id)" style="color:white;font-size:8px;">@patient.TotalFilesSizesMB MB</span>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                            else if (role == RolesMegagen.Doctor || role == RolesMegagen.Admin)
                            {
                                <tr>
                                    <td colspan="4" style="border:none;">
                                        <div class="meg-bottom-row-container">

                                            @if (patient.HasPdf)
                                            {
                                                <button @onclick="()=>ShowPdf(patient.Id)" class="pdf-button"></button>
                                            }
                                            @if(patient.HasStl)
                                            {
                                                <button @onclick="()=>ShowStl(patient.Id)" class="stl-button"></button>
                                            }
                                            @if(patient.HasVideo)
                                            {
                                                <button @onclick="()=>ShowVideo(patient.Id)" class="video-button"></button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <div id="meg-table-footer">
            <div class="footer-container">
                <div class="paginator-info-container">
                    <div>
                        <input type="number" @bind-value="@paginator_EntriesPerPage" style="width:30px;text-align:center;" @oninput="HandleInputChange_Entries"></input>
                        <span> elements/page. @paginator_StringRange of @paginator_TotalRows entries</span>
                    </div>
                </div>
                <div class="paginator-container">
                    <div>
                        <button class="btn-paginator btn-first" @onclick="PaginatorFirst"></button>
                    </div>
                    <div>
                        <button class="btn-paginator btn-prev" @onclick="PaginatorPrevious"></button>
                    </div>
                    <div>
                        <span>Page  : </span>
                        <input type="number" @bind-value="@paginator_CurrentPage" style="width:30px;text-align:center;" @oninput="HandleInputChange_Pages"></input>
                        <span>of @paginator_PagesNumber</span>
                    </div>
                    <div>
                        <button class="btn-paginator btn-next" @onclick="PaginatorNext"></button>
                    </div>
                    <div>
                        <button  class="btn-paginator btn-last" @onclick="PaginatorLast"></button>
                    </div>
                </div>
            </div>
            @if (role == RolesMegagen.Technician)
            {
                <div class="add-btn-container">
                    <button class="add-button" @onclick="NavigateToAddPatient"></button>
                    @* <button @onclick="ReloadPage"> Reload Test </button> *@
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        @if (context.User.Identity!.IsAuthenticated)
        {
            <div style="margin:15px;">
                <h3> On this website, you don't have the Doctor role, yet!  </h3>
                <h5> <a>Please, ask your Dental Technician to give you access.</a>!</h5>

            </div>
        }
        else
        {
            <div style="margin:15px;">
                <h3> You are not authenticated! </h3>
                <h5> Please <a href="/authentication/login">Login </a> or <a href="/authentication/register"> Register </a> !</h5>

            </div>
        }
    </NotAuthorized>
</AuthorizeView>


 @code
 {
    
    private void RowClicked(int row)
    {
        if (selectedRow == row)
        {
            selectedRow = -1;
            StateHasChanged();
        }
        else
        {
            selectedRow = row;
            StateHasChanged();
        }

    }
 }